<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("layout/header") -%>

  <body id="page-top">
    <!-- Navigation-->
    <%- include("layout/navbar") -%>

    <!-- Contact-->
    <section class="page-section" id="contact">
      <div class="container">
        <form
          id="contactForm"
          action="appointment-add"
          method="POST"
          data-sb-form-api-token="API_TOKEN"
        >
          <div class="row align-items-stretch mb-5">
            <div class="col-md-12">
              <div class="text-center">
                <h2 class="section-heading text-uppercase">Add Appointment</h2>
              </div>
              <% if(isError) {%>
                <div class="col-md-12">
                  <h6 style="color: red">
                    <%= errorMessage %>
                  </h6>
                </div>
              <% } %>
              <div class="row">
                
                <div class="col-md-12">
                    <div class="form-group">
                        <!-- date input-->
                        <input
                          class="form-control"
                          name="date"
                          id="date"
                          type="date"
                          placeholder="date"
                          data-sb-validations="required"
                          onchange="getDate(this)"
                        />
                      </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                        <!-- slot input-->
                        <div class="btn-group appointment">
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option1"
                            autocomplete="off"
                            value="09:00" />
                          <label class="btn btn-outline-primary"
                            for="option1">9:00 - 9:30</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option2"
                            autocomplete="off"
                            value="09:30" />
                          <label class="btn btn-outline-primary"
                            for="option2">9:30 - 10:00</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option3"
                            autocomplete="off"
                            value="10:00" />
                          <label class="btn btn-outline-primary"
                            for="option3">10:00 - 10:30</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option4"
                            autocomplete="off"
                            value="10:30" />
                          <label class="btn btn-outline-primary"
                            for="option4">10:30 - 11:00</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option5"
                            autocomplete="off"
                            value="11:00" />
                          <label class="btn btn-outline-primary"
                            for="option5">11:00 - 11:30</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option6"
                            autocomplete="off"
                            value="11:30" />
                          <label class="btn btn-outline-primary"
                            for="option6">11:30 - 12:00</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option7"
                            autocomplete="off"
                            value="12:00" />
                          <label class="btn btn-outline-primary"
                            for="option7">12:00 - 12:30</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option8"
                            autocomplete="off"
                            value="12:30" />
                          <label class="btn btn-outline-primary"
                            for="option8">12:30 - 13:00</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option9"
                            autocomplete="off"
                            value="13:00" />
                          <label class="btn btn-outline-primary"
                            for="option9">13:00 - 13:30</label>
          
                          <input type="radio"
                            class="btn-check"
                            name="option1"
                            id="option10"
                            autocomplete="off"
                            value="13:30" />
                          <label class="btn btn-outline-primary"
                            for="option10">13:30 - 14:00</label>
                        </div>
                      </div>
                </div>
              </div>
              <div class="text-center">
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  submit
                </button>
              </div>
            </div>
        </form>
      </div>
    </section>
    <!-- Footer-->
    <%- include("layout/footer") -%>

    <!-- Bootstrap core JS-->
    <%- include("layout/script") -%>
    <script>
      const option1 = document.getElementsByName("option1");

       const handleResponseError = (response) => {
        if (!response.ok) {
          throw response.status + ": " + response.statusText;
        }
        return response.json();
      };

      const fail = (error) => {
        console.log("Unable to make a request to API " + error);
      };

      const succeed = (data) => {
        option1.forEach((rb) => {
          data.appointment.forEach((apt) => {
            if (rb.value == apt.time)
              rb.setAttribute("disabled", true);
          });
        });
      };
      
      const getDate = (val) => {
        let a = document.getElementById("date").value;
        option1.forEach((rb) => {
          rb.removeAttribute("disabled");
        });
        const selectedDate = a.toLocaleString("en", { timeZone: "America/Toronto",}).split(",")[0];
        const url =
        window.location.origin + `/get-appointment/${selectedDate}`;
        fetch(url)
          .then((response) => handleResponseError(response))
          .then((data) => succeed(data))
          .catch((error) => fail(error));
      }
    </script>
  </body>
</html>
